<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tensorflow JS Practice</title>
  </head>
  <body>
    <h1>Tensorflow JS Practice</h1>
    <div id="div" style="display: block; position: relative">
      <img
        id="img"
        src="/images/wildman.jpg"
        alt="상남자"
        style="display: none"
      />
      <video id="video" src="/video/video.mp4"></video>
    </div>
  </body>
  <script type="text/javascript" src="face-api.js"></script>
  <script type="text/javascript" src="script.js"></script>
</html>
